extends layout

block content
  h1= title
  
  div(class="container-fluid")
        div(class="row")
            -
                let spiderman  = [
                    {
                        "Actor": "Happy Hogan",
                        "age": "40",
                        "weight": "90"                        
                    },
                    {
                        "Actor": "Peter Parker",
                        "age": "50",
                        "weight": "80"
                    },
                    {
                        "Actor": "Flash Thompson",
                        "age": "62",
                        "weight": "70"
                    },                   
                ]
             each v,index in batman
                div(class="col-sm-2" onclick=`buy(${index})` ) #{t.Actor}
                div(class="col-sm-2" ) #{v.age}
                div(class="col-sm-2" ) #{v.weight}


  script.
     
       function buy(a)
       {
         alert(`You purchased Item ${a+1}`)
       }

 

                
  